:root {
  --border-radius-box: 6px;
  --border-radius-control: 4px;
  --color-black: rgb(33, 37, 42);
  --color-blue: rgb(5, 116, 228);
  --color-blue-dark: rgb(0, 87, 191);
  --color-blue-translucent: rgba(5, 116, 228, .1);
  --color-code-background: rgb(253, 253, 253);
  --color-dark-border: rgb(54, 57, 89);
  --color-green: rgb(16, 138, 3);
  --color-green-dark: rgb(14, 117, 3);
  --color-red: rgb(215, 0, 34);
  --color-red-dark: rgb(183, 0, 29);
  --color-separator: rgb(210, 210, 210);
  --color-token-boolean: rgb(169, 93, 26);
  --color-token-delimiter: rgb(107, 114, 128);
  --color-token-key: rgb(74, 117, 190);
  --color-token-number: rgb(188, 56, 66);
  --color-token-string: rgb(27, 127, 107);
  --color-white: rgb(255, 255, 255);
}

::selection {
  background: var(--color-blue-translucent);
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  background: var(--color-white);
  color: var(--color-black);
  overflow: hidden;
}

h2, h3 {
  margin: 18px 0;
  font-size: 1.125rem;
}

a {
  color: var(--color-blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  appearance: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

a, button {
  &:focus-visible {
    border-radius: var(--border-radius-control);
    outline: 2px solid var(--color-blue);
    outline-offset: 2px;
  }
}

.button {
  display: inline-block;
  position: relative;
  padding: 8px 15px;
  transform: perspective(1px) translateZ(0);
  border: none;
  border-radius: var(--border-radius-control);
  background: var(--color-blue);
  color: var(--color-white);
  font-size: .9rem;
  overflow: hidden;
  transition: all ease 350ms;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: scaleX(0);
    background: var(--color-blue-dark);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }

  &:hover {
    color: var(--color-white);

    &::before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    }
  }
}

hr {
  margin: 20px 0;
  height: 1px;
  border: 0;
  background-color: var(--color-separator);
}

label {
  cursor: pointer;
}

input[type='text'], input[type='url'], textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--color-dark-border);
  border-radius: var(--border-radius-control);
  outline: 0;
  transition: border ease 250ms;
}

input[type='text'], input[type='url'] {
  padding: 0 10px;
  height: 32px;
}

textarea {
  padding: 10px;
  min-height: 100px;
  font-family: inherit;
  font-size: .8rem;
  resize: vertical;
}

input, textarea {
  &.invalid-input-style {
    border-color: var(--color-red);
  }

  &:focus {
    border-color: var(--color-blue-dark);
  }
}

.hidden {
  display: none;
}

#page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  flex-shrink: 0;
  height: 100px;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-separator);
  transition: height 250ms ease-in-out;
}

#logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 25px;
  height: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}

#main {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
}

#generator-form, #secondary-section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 20px 20px;
  height: calc(100% - 20px);
  overflow: auto;
}

#footer {
  flex-shrink: 0;
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  font-size: .875rem;
  border-top: 1px solid var(--color-separator);
  background: var(--color-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    display: block;
    padding-left: 40px;
    background-image: url('../images/sh-at.webp');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: left center;
    color: var(--color-black);
    text-decoration: none;
  }
}

.options-block-container {
  &:not(:has(.policy-container:not(.hidden))) {
    display: none;
  }
}

.policy-container {
  position: relative;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-top: 3px;

  &.excluded {
    cursor: not-allowed;
    opacity: .5;

    label, label::before {
      cursor: not-allowed;
    }
  }

  > label {
    padding-right: 30px;
  }

  > .options:not(:empty) {
    margin-top: 10px;
    margin-bottom: 15px;

    &.disabled {
      display: none;
    }
  }
}

.boolean-wrapper {
  position: relative;
  margin-top: 10px;
  padding-left: 30px;
  padding-top: 4px;

  .label {
    margin-block: 0;
  }
}

.visually-hidden, .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.checkbox {
  &:checked {
    + label::before {
      top: -1px;
      left: -3px;
      width: 8px;
      height: 17px;
      transform: rotate(40deg);
      border: 2px solid transparent;
      border-right-color: var(--color-green);
      border-bottom-color: var(--color-green);
      transform-origin: 100% 100%;
      backface-visibility: hidden;
    }
  }

  &:not(:checked) {
    + label {
      &::before {
        border-radius: var(--border-radius-control);
      }
    }
  }

  &:focus-visible {
    + label::after {
      border: 2px solid transparent;
      border-radius: var(--border-radius-control);
      outline: 2px solid var(--color-blue);
      outline-offset: 2px;
    }
  }

  + label {
    margin-left: -30px;
    padding-left: 30px;

    &::before, &::after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 1px;
      left: 0;
      margin-top: 2px;
      width: 18px;
      height: 18px;
    }

    &::before {
      border: 2px solid var(--color-dark-border);
      cursor: pointer;
      transition: all 250ms ease;
    }
  }
}

.object-label {
  margin-top: 15px;
  margin-bottom: 10px;
  width: calc(100% - 60px);
  font-weight: 700;
  font-size: .875rem;

  &:has(+ .array-container) {
    margin-bottom: 15px;
  }
}

.label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  width: calc(100% - 60px);
  font-size: .875rem;

  + select {
    margin-bottom: 5px;
  }
}

.invalid-input-label {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 2px 5px;
  height: 20px;
  border-radius: calc(var(--border-radius-control) - 2px);
  font-size: .875rem;
  background: var(--color-red);
  color: var(--color-white);

  /* do not show more than one validation message at once */
  &:not(:nth-child(1 of :not(.hidden))) {
    display: none;
  }
}

.input-wrapper, .key-wrapper {
  position: relative;
  width: calc(100% - 30px);

  + .input-wrapper {
    margin-top: 5px;
  }
}

.enum-wrapper {
  display: block;
  position: relative;
  margin: 5px 0;
  width: calc(100% - 34px);
  height: 28px;
  border: 2px solid var(--color-dark-border);
  border-radius: var(--border-radius-control);

  &:has(select:focus) {
    border-color: var(--color-blue-dark);
  }

  &:has(select:focus-visible) {
    outline: 2px solid var(--color-blue);
    outline-offset: 2px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    width: 32px;
    border-top-right-radius: var(--border-radius-control);
    border-bottom-right-radius: var(--border-radius-control);
    background-color: var(--color-white);
    background-image: url('../images/chevron.svg');
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-white);
    pointer-events: none;
    transition: .25s all ease;
  }

  select {
    appearance: none;
    padding-left: 10px;
    width: calc(100% - 30px);
    height: 100%;
    border: 0;
    border-radius: var(--border-radius-control);
    outline: 0;
    background-color: var(--color-white);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }
}

.info-text {
  position: relative;
  margin-top: 5px;
  margin-bottom: 8px;
  padding-left: 25px;
  max-width: calc(100% - 30px);
  font-size: .8rem;
  color: rgb(78, 105, 128);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
  }
}

.lock-checkbox {
  position: absolute;
  left: -9999px;
  opacity: 0;

  &:checked {
    + label {
      color: var(--color-green);

      &::before {
        background-image: url('../images/locked.svg');
      }
    }
  }

  &:focus-visible {
    + label {
      border-radius: var(--border-radius-control);
      outline: 2px solid var(--color-blue);
      outline-offset: 2px;
    }
  }

  + label {
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
    font-size: .8rem;
    color: var(--color-blue);
    transition: color ease 250ms;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      background: url('../images/unlocked.svg') center center / 18px 18px no-repeat transparent;
      cursor: pointer;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.array-wrapper {
  &:not(:has(> .array-container + .array-container)) {
    > .array-container {
      > .handle, > .object-wrapper > .handle {
        cursor: not-allowed;
      }
    }
  }
}

.array-container {
  position: relative;
  margin: 10px 0 5px;
  padding: 15px;
  width: calc(100% - 60px);
  border: 1px solid rgb(215, 215, 215);
  border-radius: var(--border-radius-box) 0 var(--border-radius-box) var(--border-radius-box);

  &:has(> .boolean-wrapper) {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
  }

  .input-wrapper, .key-wrapper {
    width: 100%;
  }

  .enum-wrapper {
    width: calc(100% - 4px);
  }

  .array-action {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -30px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(215, 215, 215);
    background-color: transparent;
    outline: 0;

    &[data-action='remove'] {
      top: -1px;
      border-radius: 0 var(--border-radius-box) 0 0;
    }

    &[data-action='add'] {
      top: 29px;
      border-top: 0;
      border-radius: 0 0 var(--border-radius-box) 0;
    }

    &.disabled-button {
      cursor: not-allowed;

      img {
        opacity: .2;
      }
    }

    &:not(.disabled-button) {
      &:hover, &:focus-visible {
        background-color: rgb(235, 235, 235);
      }
    }

    &::before {
      display: none;
    }

    img {
      pointer-events: none;
    }
  }

  .array-wrapper {
    padding-left: 15px;
  }
}

.sortable-handle {
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  background-image: url('../images/drag-handler.svg');
  background-repeat: no-repeat;
  background-position: center;

  &.disabled {
    cursor: not-allowed;
  }

  &[aria-pressed='true'] {
    background-color: var(--color-blue-translucent);
  }

  &:focus-visible {
    outline-offset: -6px;
  }
}

.sortable-placeholder {
  box-sizing: border-box;
  margin: 10px 0 5px;
  border: 2px dashed var(--color-blue);
  border-radius: var(--border-radius-box);
  background: var(--color-blue-translucent);
}

#policy-output-wrapper {
  --line-number-width: 3ch;
  position: relative;
  background-color: var(--color-code-background);
  white-space: pre;
  counter-reset: line;

  &:has(code:not(:empty)) {
    padding: 15px 15px 15px var(--line-number-width);
    border-radius: var(--border-radius-box);
    border: 1px solid var(--color-separator);
  }

  &.no-syntax-highlighting {
    --line-number-width: 15px;
  }

  .line {
    display: block;
    position: relative;
    padding-left: 1ch;

    &::before {
      content: counter(line);
      counter-increment: line;
      position: absolute;
      left: calc(var(--line-number-width) * -1);
      width: var(--line-number-width);
      color: var(--color-token-delimiter);
      text-align: right;
      user-select: none;
      pointer-events: none;
    }
  }

  .token-boolean {
    color: var(--color-token-boolean);
  }

  .token-delimiter {
    color: var(--color-token-delimiter);
  }

  .token-key {
    color: var(--color-token-key);
  }

  .token-number {
    color: var(--color-token-number);
  }

  .token-string {
    color: var(--color-token-string);
  }
}

dialog {
  padding: 0;
  min-width: 550px;
  max-width: 90%;
  max-height: 90vh;
  border-width: 0;
  border-radius: var(--border-radius-box);
  transform: scale(.7);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
  opacity: 0;
  transition: all 300ms ease-in-out allow-discrete;

  &:open {
    transform: scale(1);
    opacity: 1;

    @starting-style {
      transform: scale(.7);
      opacity: 0;
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, .8);
    transition: background-color 300ms ease-in-out allow-discrete;

    @starting-style {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  header {
    padding: 10px 15px;
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  .content {
    padding: 30px 15px;

    &.text-only {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }

      ul {
        padding-left: 20px;
      }

      li {
        + li {
          margin-top: 5px;
        }
      }
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: .875rem;
    }
  }

  aside {
    display: flex;
    justify-content: end;
    gap: 5px 10px;
    flex-wrap: wrap;
    padding: 15px;
    background-color: rgb(240, 240, 240);
  }

  .button {
    border: 1px solid transparent;

    &[disabled] {
      background-color: transparent;
      cursor: not-allowed;

      &::before {
        display: none;
      }
    }
  }

  .primary-action {
    border-color: var(--color-green);
    background-color: var(--color-green);

    &[disabled] {
      color: var(--color-black);
    }

    &::before {
      background: var(--color-green-dark);
    }

    &:focus {
      outline-color: var(--color-green-dark);
    }
  }

  .secondary-action {
    border-color: var(--color-red);
    background-color: var(--color-red);

    &[disabled] {
      color: var(--color-black);
    }

    &::before {
      background: var(--color-red-dark);
    }

    &:focus {
      outline-color: var(--color-red-dark);
    }
  }
}

.icon {
  display: inline-block;

  &.hidden {
    display: none;
  }

  img {
    width: 20px;
    height: 20px;
    vertical-align: top;
  }

  span {
    font-size: .875rem;
    color: var(--color-black);
  }
}

.action-links {
  .icon {
    margin-bottom: 5px;

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

.file-input-wrapper {
  margin-top: 20px;
}

#import-configuration {
  margin-bottom: 5px;

  img {
    transform: rotate(180deg);
  }
}

#list-configurations {
  margin-bottom: 10px;
}

#no-saved-configurations {
  font-size: .875rem;
}

#list-configurations-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgb(150, 150, 150);
  }

  th, td {
    padding: 10px 0;
    text-align: left;
  }

  td:first-child {
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .time {
    width: 190px;
  }

  .actions {
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;

    button {
      + button {
        margin-left: 2px;
      }
    }

    img {
      width: 18px;
      height: 18px;
      pointer-events: none;
    }
  }

  .icon {
    padding: 5px;
    border-radius: 50%;
    transition: background-color ease-in-out 250ms;

    &:hover {
      background-color: rgb(235, 235, 235);
    }
  }
}

#filter-wrapper {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 36px;
  height: 36px;

  &.open input {
    padding-right: 40px;
  }

  &:not(.open) input {
    cursor: pointer;
  }

  &.in {
    animation-name: expand;

    button {
      &::before {
        animation-name: beforeAnimation;
      }

      &::after {
        animation-name: afterAnimation;
      }
    }
  }

  &.close {
    animation-name: expand;

    button {
      &::before {
        animation-name: beforeAnimation;
      }

      &::after {
        animation-name: afterAnimation;
      }
    }
  }

  &.open {
    width: 250px;

    button {
      z-index: 3;

      &::before {
        top: 9px;
        right: 13px;
        width: 20px;
        opacity: 1;
      }

      &::after {
        bottom: 10px;
        right: 15px;
        width: 20px;
      }
    }
  }

  label {
    position: absolute;
    text-indent: -9999px;
    color: transparent;
  }

  input {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 7px 15px;
    width: 100%;
    height: auto;
    font-size: .875rem;
    border: 3px solid var(--color-dark-border);
    border-radius: 25px;
    background: none;
    color: var(--color-black);

    &:focus {
      outline: 0;
      border-color: var(--color-blue);
    }

    &:has(~ button:focus-visible) {
      border-color: var(--color-blue);
    }
  }

  button {
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    background-color: transparent;
    cursor: pointer;

    &:focus-visible {
      outline: 0;

      &::before, &::after {
        background-color: var(--color-blue);
      }
    }

    &::before, &::after {
      content: '';
      position: absolute;
      inset: unset;
      width: 13px;
      height: 3px;
      background-color: var(--color-dark-border);
      border-radius: 3px;
      transform-origin: 100% 100%;
    }

    &::before {
      top: -3px;
      right: -3px;
      transform: rotate(-45deg);
      opacity: 0;
    }

    &::after{
      bottom: -3px;
      right: -3px;
      transform: rotate(45deg);
    }
  }
}

#filter-wrapper,
#filter-wrapper button,
#filter-wrapper button::before,
#filter-wrapper button::after {
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
}

#filter-wrapper.close,
#filter-wrapper.close button,
#filter-wrapper.close button::before,
#filter-wrapper.close button::after {
  animation-direction: reverse;
}

.promo-box {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
  padding: 15px;
  border-radius: var(--border-radius-box);
  border: 1px solid var(--color-green);
  font-size: .9rem;

  p {
    margin: 0;
  }

  form {
    flex-shrink: 0;
  }

  .button {
    border-color: var(--color-green);
    background-color: var(--color-green);

    &::before {
      background: var(--color-green-dark);
    }
  }
}

@keyframes expand {
  20% {
    width: 36px;
  }

  45% {
    width: 250px;
  }

  100% {
    width: 250px;
  }
}

@keyframes beforeAnimation {
  50% {
    opacity: 0;
  }

  55% {
    top: -4px;
    right: -3px;
    width: 13px;
    opacity: 1;
  }

  65% {
    top: 6px;
    right: 10px;
    width: 30px;
  }

  80% {
    top: 9px;
    right: 13px;
    width: 20px;
  }

  100% {
    top: 9px;
    right: 13px;
    width: 20px;
    opacity: 1;
  }
}

@keyframes afterAnimation {
  10% {
    bottom: -10px;
    right: -10px;
    width: 24px;
  }

  15%{
    opacity: 1;
  }

  35% {
    bottom: -3px;
    right: -3px;
    width: 13px;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  64% {
    opacity: 0;
  }

  65% {
    bottom: -2px;
    right: -3px;
    width: 13px;
    opacity: 1;
  }

  75% {
    bottom: 4px;
    right: 10px;
    width: 30px;
  }

  90% {
    bottom: 10px;
    right: 15px;
    width: 20px;
  }

  100% {
    bottom: 10px;
    right: 15px;
    width: 20px;
  }
}

@media screen and (max-width: 1199px) {
  #main {
    flex-direction: column;
  }

  #generator-form {
    padding-bottom: 0;
  }

  #generator-form, #secondary-section {
    height: auto;
    overflow: unset;
  }
}

@media screen and (max-width: 779px) {
  dialog {
    min-width: unset;
    width: 550px;
  }

  #filter-wrapper {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  h2, h3 {
    margin: 12px 0;
    font-size: 1rem;
  }

  #generator-form, #secondary-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  #footer {
    padding: 0 10px;
    font-size: .625rem;

    a {
      padding-left: 0;
      background: none;
    }
  }

  .promo-box {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
}
