:root {
  --color-black: rgb(33, 37, 42);
  --color-blue: rgb(10, 132, 255);
  --color-blue-dark: rgb(0, 102, 225);
  --color-dark-border: rgb(54, 57, 89);
  --color-green: rgb(18, 188, 0);
  --color-green-dark: rgb(0, 158, 0);
  --color-red: rgb(215, 0, 34);
  --color-red-dark: rgb(185, 0, 4);
  --color-white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background: var(--color-white);
  color: var(--color-black);
  overflow-x: hidden;
}

a {
  color: var(--color-blue);
  text-decoration: none;
  transition: color ease 250ms;
}

a:hover {
  color: var(--color-blue-dark);
}

hr {
  margin: 20px 0;
  height: 1px;
  border: 0;
  background-color: var(--color-dark-border);
}

label {
  cursor: pointer;
}

label.deprecated {
  color: rgba(19, 69, 99, .4);
}

label + .sub-options:not(.disabled) {
  margin-top: 10px;
}

input[type='text'], input[type='url'] {
  box-sizing: border-box;
  padding: 0 10px;
  width: calc(100% - 50px);
  height: 30px;
  border: 2px solid var(--color-dark-border);
  border-radius: 2px;
  outline: 0;
  transition: border ease 250ms;
}

input[type='text'].mandatory-style, input[type='url'].mandatory-style, input[type='url'].invalid-url-style {
  border-color: var(--color-red);
}

input[type='text']:not(.mandatory-style):focus,
input[type='url']:not(.mandatory-style):not(.invalid-url-style):focus,
select:focus {
  border-color: var(--color-blue-dark);
}

.input {
  position: relative;
}

.input + .input > input {
  margin-top: 2px;
}

.mandatory-label, .invalid-url-label {
  position: absolute;
  top: 4px;
  right: 54px;
  padding: 2px 5px;
  height: 18px;
  font-size: 14px;
  background: var(--color-red);
  color: var(--color-white);
}

.input + .input .mandatory-label, .input + .input .invalid-url-label {
  top: 6px;
}

.select-wrapper {
  display: block;
  position: relative;
  width: calc(100% - 50px);
  height: 30px;
  overflow: hidden;
  border-radius: 2px;
}

.select-wrapper:not(.disabled) {
  margin: 5px 0;
}

.select-wrapper::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 2px 12px;
  border: 2px solid var(--color-dark-border);
  background: var(--color-blue);
  color: var(--color-white);
  pointer-events: none;
  transition: .25s all ease;
}

.select-wrapper .mandatory-label {
  right: 46px;
}

select {
  margin: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-dark-border);
  outline: 0;
  box-shadow: none;
  cursor: pointer;
}

select.mandatory-style {
  border-color: var(--color-red);
}

option {
  padding: 5px;
}

.checkbox {
  position: relative;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-top: 3px;
}

.primary-checkbox, .property-checkbox {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.primary-checkbox + label::before, .property-checkbox + label::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  margin-top: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-dark-border);
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms ease;
}

.primary-checkbox:checked + label::before, .property-checkbox:checked + label::before {
  top: -1px;
  left: -3px;
  width: 8px;
  height: 17px;
  transform: rotate(40deg);
  border: 2px solid transparent;
  border-right-color: var(--color-green);
  border-bottom-color: var(--color-green);
  transform-origin: 100% 100%;
  backface-visibility: hidden;
}

.property-checkbox + label {
  font-size: 14px;
}

.lock-checkbox {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.lock-checkbox + label {
  display: block;
  position: relative;
  margin-top: 2px;
  padding-left: 25px;
  height: 24px;
  font-size: small;
  color: var(--color-blue);
  transition: color ease 250ms;
}

.lock-checkbox + label:hover {
  color: var(--color-blue-dark);
}

.lock-checkbox + label::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  margin-top: -4px;
  width: 24px;
  height: 24px;
  background: url('../images/unlocked.svg') center center / 24px 24px no-repeat transparent;
  cursor: pointer;
}

.lock-checkbox:checked + label {
  color: var(--color-green);
}

.lock-checkbox:checked + label::before {
  background-image: url('../images/locked.svg');
}

.object .lock-checkbox + label {
  padding-left: 20px;
}

.object .lock-checkbox + label::before {
  left: -5px;
}

.object > .label {
  font-weight: 700;
}

.object .array + .checkbox {
  margin-top: 10px;
  margin-bottom: 5px;
}

button {
  position: relative;
  padding: 8px 15px;
  transform: perspective(1px) translateZ(0);
  font-size: 16px;
  border: none;
  border-radius: 2px;
  background: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  transition: color ease 500ms;
}

button::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  border-radius: 2px;
  background: var(--color-blue-dark);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

button:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
}

.hidden {
  display: none;
}

.disabled {
  height: 0;
  overflow: hidden;
}

.excluded {
  opacity: .2;
}

.disabled-link {
  cursor: not-allowed;
  opacity: .2;
}

.action-img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  pointer-events: none;
}

.array-action + .array-action {
  margin-left: -3px;
}

.sub-options {
  position: relative;
}

.sub-options + .sub-options {
  margin-top: 2px;
}

.sub-options > .checkbox {
  padding-top: 2px;
}

.sub-sub-options {
  padding-left: 50px;
}

.extra-options > .label {
  font-weight: 700;
}

.extra-options > .label.post-extra {
  margin-top: 20px;
  margin-bottom: 10px;
}

input[data-type='array'] ~ .sub-options, .object-array > div,
input[data-type='array'] ~ .sub-options, .object-list > div {
  position: relative;
}

input[data-type='array'] ~ .sub-options + .sub-options,
input[data-type='key-value-pairs'] ~ .sub-options + .sub-options,
input[data-type='key-object-list'] ~ .sub-options-wrapper .sub-options + .sub-options,
.object-array > div:not(:nth-child(1)):not(:nth-child(2)),
.object-list > div:not(:nth-child(1)):not(:nth-child(2)) {
  margin-top: 30px;
}

input[data-type='array'] ~ .sub-options .array-action,
input[data-type='key-value-pairs'] ~ .sub-options .array-action,
input[data-type='key-object-list'] ~ .sub-options-wrapper .array-action,
.object-array .array-action,
.object-list .array-action{
  position: absolute;
  top: 3px;
}

input[data-type='array'] ~ .sub-options .array-action[data-action='remove'],
input[data-type='key-value-pairs'] ~ .sub-options .array-action[data-action='remove'],
input[data-type='key-object-list'] ~ .sub-options-wrapper .array-action[data-action='remove'],
.object-array .array-action[data-action='remove'],
.object-list .array-action[data-action='remove']{
  right: 26px;
}

input[data-type='array'] ~ .sub-options .array-action[data-action='add'],
input[data-type='key-value-pairs'] ~ .sub-options .array-action[data-action='add'],
input[data-type='key-object-list'] ~ .sub-options-wrapper .array-action[data-action='add'],
.object-array .array-action[data-action='add'],
.object-list .array-action[data-action='add']{
  right: 5px;
}

.object-list .label {
  padding-right: 50px;
}

.label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

.select-label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.select-label + select {
  margin-bottom: 5px;
}

#header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-dark-border);
  transition: height 250ms ease-in-out;
}

#logo {
  display: block;
  width: 467px;
  height: 100px;
  background: url('../images/logo-large.png') 25px center / 442px 70px no-repeat transparent;
}

#main {
  display: flex;
  box-sizing: border-box;
  padding: 100px 0 70px;
  width: 100%;
  height: 100%;
}

#main::after {
  content: '';
  display: table;
  clear: both;
}

#generator-form, #secondary-section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 25px;
  height: 100%;
  overflow: auto;
}

#generator-form {
  padding-right: 20px;
}

#secondary-section {
  padding-left: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  font-size: 14px;
  border-top: 1px solid var(--color-dark-border);
  background: var(--color-white);
}

#footer a {
  display: block;
  padding-left: 40px;
  background: url('../images/sh-at.png') no-repeat;
  background-size: 32px 32px;
  background-position: center left;
  color: var(--color-black);
  text-decoration: none;
}

.additional-note, .deprecation-note, .versions-info {
  margin-top: 2px;
  font-size: small;
  color: rgba(19, 69, 99, .8);
}

.info-link {
  margin-top: 2px;
  font-size: small;
}

.additional-note img, .deprecation-note img, .info-link img {
  position: relative;
  top: -1px;
  margin-right: 2px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.versions-info img {
  position: relative;
  top: -1px;
  left: 2px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  opacity: .5;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(.7);
  opacity: 0;
  transition: all 300ms;
  pointer-events: none;
}

.modal-dialog.visible {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.modal-dialog ~ .modal-dialog-bg {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: all 300ms;
}

.modal-dialog.visible ~ .modal-dialog-bg {
  opacity: 1;
  visibility: visible;
}

.modal-dialog > div {
  width: 550px;
  max-width: 98%;
  max-height: 90vh;
  overflow: auto;
  border-width: 0;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
}

.modal-dialog header {
  padding: 10px 15px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.modal-dialog section {
  padding: 30px 15px;
}

.modal-dialog input {
  width: 100%;
}

.modal-dialog aside {
  padding: 15px;
  background-color: rgb(240, 240, 240);
  text-align: right;
}

.modal-dialog button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.modal-dialog button[disabled]::before {
  display: none;
}

.modal-dialog .primary-action {
  background-color: var(--color-green);
}

.modal-dialog .primary-action::before {
  background: var(--color-green-dark);
}

.modal-dialog .secondary-action {
  margin-right: 5px;
  background-color: var(--color-red);
}

.modal-dialog .secondary-action::before {
  background: var(--color-red-dark);
}

#action-links .icon {
  margin-bottom: 5px;
}

.icon {
  display: inline-block;
}

.icon.hidden {
  display: none;
}

.icon img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.icon span {
  font-size: 14px;
  color: var(--color-black);
}

.trash-icon {
  position: relative;
  top: -1px;
}

.file-input-wrapper {
  margin-top: 20px;
}

#import-configuration {
  margin-bottom: 5px;
}

#import-configuration img {
  transform: rotate(180deg);
}

#list-configurations {
  margin-bottom: 10px;
}

#no-saved-configurations {
  font-size: 14px;
}

#list-configurations-table {
  width: 100%;
  border-collapse: collapse;
}

#list-configurations-table th, #list-configurations-table td {
  padding: 10px 0;
  border-bottom: 1px solid rgb(150, 150, 150);
  text-align: left;
}

#list-configurations-table td:first-child {
  padding-right: 10px;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list-configurations-table .time {
  width: 220px;
}

#list-configurations-table .actions {
  width: 90px;
  text-align: right;
}

#list-configurations-table .icon img {
  opacity: .5;
  transition: opacity ease 250ms;
}

#list-configurations-table .icon img:hover {
  opacity: 1;
}

#filter-wrapper {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 36px;
  height: 36px;
}

#filter {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 7px 15px;
  width: 100%;
  height: auto;
  font-size: 14px;
  border: 3px solid var(--color-dark-border);
  border-radius: 25px;
  background: none;
  color: var(--color-black);
}

#filter:focus {
  outline: none;
  border-color: var(--color-blue);
}

#filter-wrapper.open #filter {
  padding-right: 40px;
}

#filter-wrapper:not(.open) #filter {
  cursor: pointer;
}

#filter-style-helper {
  position: absolute;
  z-index: 1;
  top: 1px;
  right: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#filter-style-helper::before, #filter-style-helper::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 3px;
  background-color: var(--color-dark-border);
  border-radius: 3px;
  transform-origin: 100% 100%;
}

#filter-style-helper::before {
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
  opacity: 0;
}

#filter-style-helper::after{
  bottom: -3px;
  right: -3px;
  transform: rotate(45deg);
}

#filter-wrapper,
#filter-wrapper #filter-style-helper,
#filter-wrapper #filter-style-helper::before,
#filter-wrapper #filter-style-helper::after {
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
}

#filter-wrapper.in {
  animation-name: expand;
}

#filter-wrapper.in #filter-style-helper::before {
  animation-name: beforeAnimation;
}

#filter-wrapper.in #filter-style-helper::after {
  animation-name: afterAnimation;
}

#filter-wrapper.close,
#filter-wrapper.close #filter-style-helper,
#filter-wrapper.close #filter-style-helper::before,
#filter-wrapper.close #filter-style-helper::after {
  animation-direction: reverse;
}

#filter-wrapper.close {
  animation-name: expand;
}

#filter-wrapper.close #filter-style-helper::before {
  animation-name: beforeAnimation;
}

#filter-wrapper.close #filter-style-helper::after {
  animation-name: afterAnimation;
}

#filter-wrapper.open {
  width: 250px;
}

#filter-wrapper.open #filter-style-helper {
  z-index: 3;
}

#filter-wrapper.open #filter-style-helper::before {
  top: 9px;
  right: 13px;
  width: 20px;
  opacity: 1;
}

#filter-wrapper.open #filter-style-helper::after {
  bottom: 10px;
  right: 15px;
  width: 20px;
}

@keyframes expand {
  20% {
    width: 36px;
  }

  45% {
    width: 250px;
  }

  100% {
    width: 250px;
  }
}

@keyframes beforeAnimation {
  50% {
    opacity: 0;
  }

  55% {
    top: -4px;
    right: -3px;
    width: 13px;
    opacity: 1;
  }

  65% {
    top: 6px;
    right: 10px;
    width: 30px;
  }

  80% {
    top: 9px;
    right: 13px;
    width: 20px;
  }

  100% {
    top: 9px;
    right: 13px;
    width: 20px;
    opacity: 1;
  }
}

@keyframes afterAnimation {
  10% {
    bottom: -10px;
    right: -10px;
    width: 24px;
  }

  15%{
    opacity: 1;
  }

  35% {
    bottom: -3px;
    right: -3px;
    width: 13px;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  64% {
    opacity: 0;
  }

  65% {
    bottom: -2px;
    right: -3px;
    width: 13px;
    opacity: 1;
  }

  75% {
    bottom: 4px;
    right: 10px;
    width: 30px;
  }

  90% {
    bottom: 10px;
    right: 15px;
    width: 20px;
  }

  100% {
    bottom: 10px;
    right: 15px;
    width: 20px;
  }
}

@media screen and (max-width: 1199px) {
  html, body {
    height: auto;
  }

  #main {
    flex-direction: column;
  }

  #generator-form, #secondary-section {
    flex-basis: auto;
  }

  #import-configuration {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 729px) {
  #filter-wrapper {
    display: none;
  }
}

@media screen and (max-width: 359px) {
  button {
    padding: 8px;
  }

  .modal-dialog .secondary-action {
    margin-right: 0;
  }
}
